

.form-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  width: 70%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  float: right;
  margin-top: 2vh;
  margin-right: 1vw;
}

input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

button {
  margin-top: 10px;
  padding: 10px 16px;
  background: #00b894;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #019875;
}
select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  background: white;
}
