<span class="sidebar">
    <div class="profile">
        <img src="Profileimage.jpg" alt="">
        <span class="Client-Name">User Menu</span>
    </div>
    <hr style="width: 100%;margin-bottom: 2rem;">
    <nav>
        <a routerLink="/deliverer/list-livraisons" class="menu-item">
            <i class="icon">📋</i>
            <span>List des livraisons</span>
        </a>
        <a routerLink="/deliverer/mes-livraisons" class="menu-item">
            <i class="icon">🕊️</i>
            <span>Mes livraisons</span>
        </a>
        <a href="/deliverer/probleme" class="menu-item">
            <i class="icon">⚠️</i>
            <span>Signaler un problème</span>
            <span class="badge">2</span>
        </a>

    </nav>
</span>