<span class="sidebar">
    <div class="profile">
        <img src="Profileimage.jpg" alt="">
        <span class="Client-Name">User Menu</span>
    </div>
    <hr style="width: 100%;margin-bottom: 2rem;">
    <span class="send-package">
        <i class="icon">✈️</i>
        <span>Send Package</span>
    </span>

    <nav>
        <a routerLink="/dashboard-client" class="menu-item">
            <i class="icon">📊</i>
            <span>Dashboard</span>
        </a>
        <a href="#" class="menu-item">
            <i class="icon">📩</i>
            <span>Messages</span>
            <span class="badge">2</span>
        </a>
        <a routerLink="/mypackage" class="menu-item active">
            <i class="icon">🕊️</i>
            <span>My Package</span>
        </a>
        <a href="#" class="menu-item">
            <i class="icon">📍</i>
            <span>Location</span>
        </a>
        <a href="#" class="menu-item">
            <i class="icon">⚙️</i>
            <span>Settings</span>
        </a>
    </nav>
</span>