<span class="sidebar">
    <div class="profile">
        <img src="Profileimage.jpg" alt="">
        <span class="Client-Name">User Menu</span>
    </div>
    <hr style="width: 100%;margin-bottom: 2rem;">
    <span class="send-package">
        <i class="icon">✈️</i>
        <span>Send Package</span>
    </span>

    <nav>
        <a routerLink="/client/dashboard" class="menu-item">
            <i class="icon">📊</i>
            <span>Dashboard</span>
        </a>
        <a routerLink="/client/mypackage" class="menu-item">
            <i class="icon">🕊️</i>
            <span>My Package</span>
        </a>
        <a routerLink="/client/factures" class="menu-item">
            <i class="icon">🧾</i>
            <span>Factures</span>
        </a>
    </nav>
    <div class="logout-section">
        <button class="logout-btn" (click)="logout()">
            <i class="icon">🚪</i>
            <span>Déconnexion</span>
        </button>
    </div>
</span>